@import url('https://fonts.googleapis.com/css?family=Kavivanar');

html {
    background-color: #cda767;
    margin: 0;
}

*  {
  margin: 0px;
  padding: 0px;
  user-select: none;
}

body {
    background: linear-gradient(to bottom, #cda767 0%,#cda767 40.35%,#000000 40.35%,#524229  40.35%,#524229 100%);
    margin: 0; 
/*    Comment: This is responsible for making the background half #cda767 and half #524229, it is an implication of making the web page more aesthetically pleasing*/
}

nav {
    width: 805px;
    margin: 1vh auto;
    display: flex;
    text-align: center;
}

nav a {
    background-color: none;
    display: inline-block;
    width: 25%;
    font-family: "KG all of me";
    text-decoration: none;
    font-size: 20px;
    color: black;
}

section {
    min-height: 400px;
    margin: 0px auto;
    width: 808px;    
    margin-bottom: 2vh;
}

div.m {
    font-size: 24px;
    min-height: 2vh;
    width: 24vh; 
    margin: 0% auto;
    font-family: "KG all of me";
    background-color: #be6006;
    padding: 0.5% 0.5% 0.5% 0.25%;
    border: 4px solid #021a40;
    text-decoration: none;
    margin-bottom: 3vh;
    text-align: center;
/*    Comment: this is for structuring the menu link below the main photo */
}

h1 {
    text-align: center;
    font-family: "good brush";
    font-size: 50px;
}

.line {
    width: 24%;
    border-bottom: 4px solid #021a40;
    margin: 0% 2px 10px 2px;
/*    Comment: this is to make the lines appear next to the nav*/
}

.boxes {
    width: 100%;
    margin: auto;
    display: flex;
    max-width: 100%;
    max-height: 20%;
/*    Comment: This is the base support for the 4 images below eg boxes*/
}

.boxes li {
    width: 15%;
    background-color: black;
    min-height: 15%;
    margin: 0.5% auto;
    list-style: none;
    min-width: 200px;
    max-height: 20%;
}

.boxes li img {
    width: 100%;
    height: 100%;
}

a:hover {
    color: red;
}
 
.active {
    color: red; 
}

.m a{
    color: white;
}

.line2 {
    width: 90.5%;
    border-bottom: 4px solid #021a40;
    margin: 1% 10px 6px 5%;
}

h2 {
    color: white;
    text-align: center;
    font-family: "good brush";
    font-size: 35px;
    margin-bottom: 2vh;
}

h3 {
    font-size: 20px;
    color: white;
    font-family: "KG All of me";
    text-align: center;
    margin-bottom: 2vh;
}

h4 {
    text-align: center;
    font-family: "good brush";
    font-size: 30px;
    color: white;
}

h5 {
    color: #ab5200;
    font-family: "KG All of me";
    text-align: center;
    font-size: 17px;
    margin-bottom: 1vh;
    padding-top: 1vh;
}

h6 {
    text-align: center;
    font-family: "KG All of me";
    font-size: 15px;
    margin: 10px;
}

footer {
  height: 13vh;;
  background-color: #201d14;
  margin-top: 200px;  
     
}

p {
    text-align: center;
    font-family: "KG All of me";
    font-size: 15px;
    color: #ab5200;
    margin-bottom: 1vh;
}

img {
    border: 4px solid ;
}

/*for menu page*/
.menuh2 {
    text-align: center;
    font-family: "KG All of me";
    font-size: 35px;
    text-decoration: underline;
    margin: 0;
    padding: 10px 20px;
    color: #fff;
    letter-spacing: 2px;
    text-transform: uppercase;
    background: #000;
    margin: 1% 1% 1% 29%;
/*    Comment: this is class for h2 in the menu page*/
}

li {
    list-style: none;
}


@use postcss-nested;

* {
  box-sizing: border-box;
}

.menu {
  display: flex;
  list-style-type: none;
  flex-wrap: wrap;
  padding: 0;
  margin: 0 auto;
  max-width: 960px;
  height: 100%; 
}

.menu-item {
    display: flex;
    width: 50%;
    list-style-type: none;
    padding: 0 1rem;
    margin: 0 0 1rem;
    }

.menusection {
    display: flex;
    flex-direction: column;
    flex: 1;
    }

.menuheader {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    }

.spacer {
    content: '';
    width: 100%;
    height: 1px;
    margin: 0 .5rem;
    border-bottom: 1px dashed black;
    flex: 1;
/*    Comment: This is the dotted line leading to the price*/
        }
  
.menuh3 {
    margin: 0;
    font-size: 20px;
    font-family: "KG All of me";
    text-decoration: underline; 
}
    
.menup {
     font-family: 'Rubik Mono One', sans-serif;
     font-size: 15px;
     font-weight: bold;
}  

.price {
     font-size: 20px;
     font-family: "KG All of me";
     color: white;
}

.menuh4 {
    font-size: 35px;
    font-family: "good brush";
    text-align: center;
}

.bordermenu {
    border: 5px solid black;
    background-color: brown;
}

/*about page*/
.aboutsection {
     min-height: 400px;
     margin: 0px auto;
     width: 70%;    
     border: 6px solid #021a40;
}

.wrap {
    display: inline-block;
    width: 100%;
    background-color: brown;
}

p2 {
    font-family: 'Rubik Mono One', sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: black;
    text-align: center;
    margin: 8% 23% 1% 1%;
    display: inline-block;
    width: 50%;
    float: right;
}

.aboutp {
    display: inline-block;
    width: 100%;
    font-size: 20px;
    font-family: 'Rubik Mono One', sans-serif;
    font-weight: bold;
    padding: 42px;
    text-align: center;
}

.abouth2 {
    text-align: center;
    font-family: "good brush";
    font-size: 40px;
    padding-top: 50px;
    display: block;
}

.aboutp2 {
    display: inline-block;
    width: 100%;
    font-size: 20px;
    font-family: 'Rubik Mono One', sans-serif;
    font-weight: bold;
    padding: 20px;
    text-align: center;
}

h8 {
    font-size: 25px;
    font-family: "KG All of me";
    text-align: center;
    width: 100%;
    text-align: center;
}

/*Comment: these are for the social media images*/
ul.social-media img {
    padding: 5px;
    border-radius: 5px;
    background-color: lightblue;
    width: 100px;
    height: 100px;
    position: relative;
    margin: 1% 1% 1% 1%
}

ul.social-media {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul.social-media li {
    display: inline-block;
}

ul.social-media {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 0px;
}

ul.social-media li {
    display: inline-block;
    margin: 2px;
}

ul.social-media img:hover {
    background-color: #63D1F4;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

/*contact page */
.contacth4 {
    font-size: 24px;
    text-align: center;
    font-family: "KG All of me";
    color: black;
    font-weight: bold;
}

.contacth3 {
     font-family: "Bebas Neue";
    font-size: 40px;
    text-align: center;
    color: black;
    font-weight: bolder;
}

.contactp {
    font-size: 18px;
    font-family:'Francois One', sans-serif; 
    text-align: center;
    margin: 10px auto;
    color: black;
}

.body {
    background: linear-gradient(to bottom, #cda767 0%,#cda767 45%,#000000 45%,#524229  45%,#524229  100%);
    height: 100%;    
}

.wrapper {
    width: 100%;
    max-width: 680px;
    margin: 100px auto 0;
    padding: 20px;
    box-sizing: border-box;
}

.content {
    text-align: center;
}

.contenth1 {
    letter-spacing: 1px;
}

.form {
    width: 100%;
    margin: 25px 0;
}
/*Comment: these is for the contact form*/
.top form,
.middle form,
.bottom form {
    width: 100%;
    min-height: 65px;
    margin: 10px 0;
    overflow: hidden;
}

.form input[type="text"],
.form textarea {
    padding: 15px 5px;
    box-sizing: border-box;
    width: 100%;
    border: 2px solid #fff;
    border-radius: 2px;
    outline: none;
    transition: all 02.s ease;
}

.form input:focus,
.form textarea:focus{
    border-color: #4ca1af;
    box-shadow: inset 0 1px 1px rgba(0,0,0, 0.0125),
        0 0 8px rgba(76,161,175, 0.5);   
}

.form .label {
    margin-bottom: 5px;
    text-transform: capitalize;
}

.top-form .inner-form {
    width: 29.9%;
    float: left;
    margin-right: 5%;
}

.top-form .inner-form:last-child {
    margin-right: 0;
}

.middle-form {
    clear: both;
}

.bottom-form textarea {
    height: 120px;
}

.btn {
    background: #4ca1af;
    width: 200px;
    padding: 10px 0;
    border-radius: 2px;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 5px;
    cursor: pointer;
}

::-webkit-input-placeholder {
    font-family: 'Kavianar', cursive;
    text-transform: capitalize;
    /*this doesn't work*/
}

::-moz-input-placeholder {
    font-family: 'Kavianar', cursive;
    text-transform: capitalize;
     /*this doesn't work*/
}

::-ms-input-placeholder {
    font-family: 'Kavianar', cursive;
    text-transform: capitalize;
     /*this doesn't work*/
}
+
@media screen and (max-width: 460px) {
    .wrapper {
        margin: 25px auto 0;
    }
    .top-form .inner-form  {
        width: 100%;
        margin-top: 5px 0;
    }
}